/* Styling for the whole page */
* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    font-size: 18px;
}

/* Header Styling */
header {
    background: teal;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}

h1 {
    text-align: center;
    font-size: 32px;
}
h2 {
    font-size: 28px;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
}

Countdown Timer is here
aside {
    padding-top: 50px;
}

#timer {
    text-align: center;
    font-size: 24px;
}

/* buttons for the quiz answers */
button {
    display: block;
    margin: 10px;
    color: white;
    font-size: 100%;
    background-color: teal;
    border-radius: 5px;
    padding: 10px 10px;
    border: 0;
}

/* For the questions as they populate */
#questions {
    text-align: center;
    font-size: 24px;
}

/* For the choices as they populate */
#choices {
    font-size: 18px;
}

/* each answer's padding */
content h3{
    padding-top: 50px;
}

/* results of your guess displayed here */
#results {
    font-size: 36px;
}

/* Footer Title and color Display*/
footer {
    text-align: center;
    background-color: teal;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Footer list is where the High Scores will go once quiz is finished */
footer li{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}